.tex
.synctex.gz
.log
1Setup.log
1Setup.synctex.gz
1Setup.tex
2MotivatingExample.log
2MotivatingExample.synctex.gz
2MotivatingExample.tex
2MotivatingExample.vrb
3Basics.log
3Basics.synctex.gz
3Basics.tex
4DataStructures.log
4DataStructures.synctex.gz
4DataStructures.tex
5PackagesProgramming.log
5PackagesProgramming.synctex.gz
5PackagesProgramming.tex
